/*圆角正方形 有图 有字*/


/**
 <div class="ip-rank">
   <ul class="ip-rank-list">
     <li class="ip-rank-item">
       <img alt="{{work.title}" src="http://img3.2ciyuanjie.com/2cyj/20161002/g/ep7b2NwHyfcQ.jpg@0-0-500-500a.jpg" title="经典娃娃头系列-傀儡娃娃">
       <a href="javascript:;" class="ip-rank-item-mask">
         经典娃娃头系列-傀儡娃娃
       </a>
     </li>
   </ul>
 </div>
 */
.ip-rank {
  width: 100%;
  overflow-x: auto;
}
.ip-rank-list {
  width: 800px;
  display: -ms-flexbox;
  display: flex;
  display: -webkit-flex;
  height: 86px;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.ip-rank-list .ip-rank-item {
  width: 86px;
  height: 100%;
  border-radius: 10px;
  overflow: hidden;
  background-color: #f99;
  position: relative;
  text-align: center;
}

.ip-rank-list .ip-rank-item img {
  width: 86px;
  height: 100%;
}

.ip-rank-list .ip-rank-item .ip-rank-item-mask {
  position: absolute;
  left: 0;
  top: 0;
  width: 86px;
  height: 100%;
  line-height: 86px;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: inherit;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  /*font-size: 1.2rem;*/
  padding: 0 10px;
  color: #fff;
}
